<ion-view view-title="Chats">
  <ion-content>
    <div class="list">

      <button class="button button-full button-positive" ng-click="addContact()"><i class="icon ion-plus-round">   Add contact</i></button>
      <!-- contacts-->
      <a class="item item-avatar" href="#" ng-repeat="contact in contacts">
        <img src="http://1.viki.io/a/ph/avatar_profile-acc6c5a5a9d35bd7d292dfd776cfec76.png?s=30x30&f=t&cb=1">
        <h2>{{contact}}</h2>
      </a>
      <!-- contacts-->


  </div>
  </ion-content>
</ion-view>
